/* Last modified 01-24-05 */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;    			
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #333333;
	font-size: 11px;
}
a {
	/*color: #104E8B;*/
	color: #1089CF;
	text-decoration: none;
}
a:hover {
    color: #474747;
    text-decoration: underline;
}
/*
Common text settings
*/
p {
    font-size: 11px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
h5 {
    margin-bottom: 0px;
	margin-top: 0px;
    font-size: 12px;
}
h4 {
	font-size: 13px;
}
h3 {
	font-size: 18px;
	margin-top: 0px;
}
/*
Error box settings
*/
.alert {
    color: #CC0000;
	background-color: #FFFFFF;
    text-align: center;
	width: 60%;
	/*border: solid #8B0000 2px;*/
	border: solid #CC0000 2px;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 11px;
}
/*
Form text box settings
*/
.textbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; /*color: #36648B;*/
	color: #05609A;
	background-color: #FCFCFC;
}
/*
Form button settings
*/
.button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
	border: solid 1px #7C7A7A;
	/*color: #36648B;*/
	color: #05609A;
	background-color: #E7E7E7;
}

/*
Data table head row settings
*/
.tableTitle {
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px; /*	background-color: #36648B;*/
	background-color: #05609A;
}

.tableTitle a, .tableTitle a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
/*
Welcome message settings
*/
.welcomeBack {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /*color: #708090;*/
	 color: #05609A;
	font-size: 12px;
}
/*
Table border color
*/
.tableBorder {
/*    background-color: #36648B; */
	background-color: #05609A;
}

/*
Common data cell settings
*/
td.cellColor, .cellColor td, .cellColor {
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}
/*
Alternating row colors
Got rid of the contextual selector '.cellColor0 td'
*/
.cellColor0, td.cellColor0 {
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}
td.cellColor1, .cellColor1 {
    padding: 2px;
    background-color: #F8FAEA;
    font-size: 11px;
}
/*
Special Alternating row colors for viruses
*/
td.cellVirus, .cellVirus0 {
    padding: 2px;
    background-color: #FFCCFF;
    font-size: 11px;
}
td.cellVirus, .cellVirus1 {
    padding: 2px;
    background-color: #FF99FF;
    font-size: 11px;
}
/*
Content Type Column Virus Bolding 
*/
td.typeVirus, .typeVirus td {
    font-weight: bold;
}
/*
Table data row heading settings
*/
td.rowHeaders, .rowHeaders td {
    color: #333333;
    background-color: #EDEDED;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}
/*
Summary Table Number values
*/
td.rowNumValues, .rowNumValues td {
    text-align: right;
    padding-right: 5px;
}
/*
Summary Table Totals
*/
td.rowTotals, .rowTotals td {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}
/*
Individal time cells for the scheduler
*/
td.scheduleTimes, .scheduleTimes td {
    font-size: 11px;
    color: #333333;
    text-align: left;
    background-color: #EDEDED;
    padding-left: 2px;
}
/*
Date cell for the scheduler
*/
td.scheduleDate, .scheduleDate td {
	font-size: 11px;
	color: #FFFFFF;
	background-color: #4BB5F2;
	text-align: center;
	padding: 2px;
}

td.scheduleDate a {
	color: #FFFFFF;
}
/*
Resource name cell for the scheduler
*/
td.resourceName {
    color: #333333;
    font-size: 11px;
    background-color: #EDEDED;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
}
/*
Edit form cell settings
*/
td.formNames {
    font-size: 11px;
    background-color: #EDEDED;
    padding-left: 5px;
}
/*
Reserved cell settings for the scheduler
*/
td.reservedCell {
	font-size: 10px;
	background-color: #C5E7F9;
}
/*
Inactive resource text color
*/
.inact {
    color: #BDBDBD;
}
/*
Color of the outermost border on every page
*/
.mainBorder {
    border: solid 1px #CCCCCC;
}
/* 
Background color of main section on every page
*/
.mainBkgrdClr {
    background-color: #FAFAFA;
}
/*
Alert message settings
*/
.message {
	background-color: #FEFEFE;
	text-align: center;
	width: 60%;
	border: solid #E0E0E0 1px;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 11px;
}

/*
Summary popup box
*/
.summary_div {
	position: absolute;
	visibility: hidden;
	border: solid #686767 1px;
	padding: 3px;
	background-color: #E1E1E1;
	overflow: visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

/*
Recurring reservation box
*/
.recur_box {
	background-color: #D0D4E4;
	color: #282D42;
	border: solid 1px #8B94B1;
}

/*
Calendar settings
*/
.monthNameStyle {
	font-size: 11px;
	text-align: center;
}
.dayBoxStyle {
	font-size: 10px;
	background-color: #F0F0F0;
	text-align: center;
	width: 25px;
	height: 25px;
}
.currentDayBoxStyle {
	width: 25px;
	height: 25px;
	font-size: 10px;
	background-color: #FFFFFF;
	text-align: center;
}
.emptyDayStyle {
	background-color: #D5D8D3;
}
.dayNamesStyle {
	font-size: 11px;
	text-align: center;
	height: 25px;
	background-color: #DDCAF6;
}
.navMonthStyle {
	font-size: 11px;
	color: #000000;
}
.selectBoxStyle {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Reservation tab select */
.tab-row td {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 2px;
}
.tab-row a {
	text-decoration:none;
}
.tab-selected {
	border-right:solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	width:100px;
	color: #0000ff;
	height:20px;
}
.tab-selected a {
	color: #000000;
}
.tab-not-selected {
	border:solid 1px #D1D1D1;
	width:100px;
	background-color: #EDEDED;
	border-bottom: solid 1px #CCCCCC;
}
.tab-not-selected a {
	color: #666666;
}
.tab-filler {
	border-bottom:solid 1px #CCCCCC;
}
.tab-main {
	border-right:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
}
/*************************************

/** MyCalendar **/
.MyCalCellColor {
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}

.MyCalCellColorEmpty {
	background-color: #F0F0F0;
}

.MyCalDayBox {
	padding: 2px;
	background-color: #FFFFFF;
	font-size: 11px;
	width: 140px;
	height: 120px;
	vertical-align: top;
}

.MyCalEmptyDayBox {
	padding: 2px;
	background-color: #EEEEEE;
	font-size: 11px;
	vertical-align: top;
}

.MyCalCurrentDayBox {
	padding: 2px;
	background-color: #FFFFFF;
	font-size: 11px;
	vertical-align: top;
	border: solid 1px #36648B;
}

.MyCalDateNumber, a.MyCalDateNumber {
	font-size: 12px;
}

.MyCalCellColor p, .MyCalDayBox p, .MyCalEmptyDayBox p, .MyCalCurrentDayBox p {
	margin-bottom: 7px;
}

div.mycal_div {
	position: absolute;
	visibility: hidden;
	/*
	border-top: solid #BCBB6E 1px;
	border-left: solid #BCBB6E 1px;
	border-right: solid #BCBB6E 2px;
	border-bottom: solid #BCBB6E 2px;
	background-color: #FEFEDA;
	*/
	border-top: solid #7C7C7C 1px;
	border-left: solid #7C7C7C 1px;
	border-right: solid #6F6F6F 2px;
	border-bottom: solid #6F6F6F 2px;
	background-color: #FEFFFE;
	padding: 3px;
	overflow: visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
	color: #616161;
}

/* SelectUser colors */
.SelectUserRowOver, .SelectUserRowOver td, td.SelectUserRowOver {
	background-color: #A2D9F8;
	padding: 2px;
	font-size: 11px;
}

/* Selected Link */
.selectedLink {
	font-size: 11px;
	background-color: #D8EFFB;
	padding: 2px;
}

/* Header Cells */
.headerName {
	border: 1px solid #0F93DF;
	background-color: #D8EFFB;
	padding: 2px;
	width: 10px;
	font-size: 11px;
}

.headerValue {
    border:solid 1px #0F93DF;
    border-right: none;
    padding: 2px;
    font-size: 11px;
} 

.stdFont {
    font-size: 11px;
} 

.visible {
}

.hidden {
    display: none;
}
